In [1]:
#class s3
employee1=list(name="xyz",dept="cse",course=c("java","python"))
class(employee1)#class creation
employee1#object creation

[1] "list"

$name
[1] "xyz"

$dept
[1] "cse"

$course
[1] "java"   "python"

In [2]:
employee1$dept

[1] "cse"

In [5]:
student=list(name="siva",dept="cse",course=c("java","python"))
class(student)#class creation
student#object creation

[1] "list"

$name
[1] "siva"

$dept
[1] "cse"

$course
[1] "java"   "python"

In [7]:
#debugging  function:browser()
show=function(a)
{
    browser()
    a+5
}
display=fuction(b)
{
    show("s")
}

ERROR: Error in fuction(b): could not find function "fuction"

In [10]:
#regular expression
words=c("Python","Java","Python","C")

In [12]:
grepl(pattern="Python",x=words)#

[1] FALSE FALSE  TRUE FALSE

In [13]:
grepl(pattern="Python",x=words,ignore.case= TRUE)#Search for string there or not

[1]  TRUE FALSE  TRUE FALSE

In [17]:
grep("Python",words,ignore.case = TRUE)#serch fr string position

[1] 1 3

In [ ]:
Install.packages("stringr")

In [28]:
#extracting mail id ,phno.,date
library(stringr)
x=c("My name is sivane and my num is 9597798700 with emai id of sivanesenthil1250@gmail.com and my session starts on 02-11-2020")
str_extract_all(x,"[6-9]{1}[0-9]{9}")#(extraction  of phno. )
a=str_extract_all(x,"[:digit:]{2}-[:digit:]{2}-[:digit:]{4}")#maches the digits(extraction  of date. )
print(paste("the date is: ",a))
b=str_extract_all(x,"[\\w]+@[\\w]+.[\\w]+")#//w for word(extraction  of mail id )
print(paste("the email is: ",b))

[[1]]
[1] "9597798700"

[1] "the date is:  02-11-2020"
[1] "the email is:  sivanesenthil1250@gmail.com"

In [29]:
library(stringr)
a=list("12 abc is my address 123 is ward number" )
str_extract_all(a,"\\b\\d{2}\\b\\s[\\w]+")

[[1]]
[1] "12 abc"

In [31]:
#starts with c and ends with e
library(stringr)
a=list("12 abc is my address 123 is ward number.there is no clue" )
str_extract_all(a,"c[\\w]+e")

[[1]]
[1] "clue"

In [36]:
#a input vector
df<-"R is a collaborative project with many contributors- R and R is high level "
#replaces
sub('R','R language',df)

[1] "R language is a collaborative project with many contributors- R and R is high level "

In [34]:
#replaces all the string
gsub('R','R language',df)

[1] "python is a collaborative project with many contributors- R language and R language is high level "

In [38]:
#print a word which contains vowels a,e,i,o,u and A,E,,I,O,U
s=c("PQJ","BAC","SIVANE")
grep(pattern="[aeiouAEIOU]",s,value= TRUE)

[1] "BAC"    "SIVANE"

In [41]:
#credit card validation
library(stringr)
a=list("credit card:3145 5926 5358 9793" )
str_extract_all(a,"")

[[1]]
character(0)